
:root{
  --bg-white-fake: #f8f9fa;
  --bg-input : #e5e5e5;
  --bg-chip: #165bba;
}

body{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

img{
  width: 100%;
}

.debug{
  border: 1px solid black;
}

.dp-container{
  width: 100%;
  height: calc(100vh - 70px);
}

.chip{
  background-color: var(--bg-chip);
  padding: 3px 8px;
  border-radius: 30px;
}


/*************** HEADER *******************/
header{
  height: 70px;
}

header .row{
  line-height: 70px;
}

header .side{
  width: 10%;
}

header .middle{
  width: 80%;
}

header {
  background-color: var(--bg-white-fake);
}

header .searchbar{
  position:relative;
}

header .searchbar i {
  /* height:15px; */
  position:absolute;
  left:5px;
  top:10px;
}

header .searchbar  input{
  background-color: var(--bg-input);
  width: 100%;
  padding-left: 25px;
}


header .right i{
  color: #5b5858;
  margin: 5px;
}

header .right .fa-bell{
  color: #ff8f00;
}


/**************** SIDEBAR *****************/

.sidebar{
  width: 150px;
  background-color: #13293f;
  /* background: url(../img/sidebar-bg.png); */
}

.sidebar i{
  padding: 10px;
}

.sidebar li:hover{
  background-color: #355c82;
}

/*********** MAIN CONTENT ******************/
.main-content{
  overflow: auto;
  height: 100%;
}


/********** HEADER MAIN CONTENT **********/

.main-content .content-header{
  height: 120px;
  background-color: #1b72e8;
}

.main-content .content-header .online-users{
  font-size: 2rem;
}

.main-content .content-header .dp-btn{
  border: 1px solid white;
  background-color: #1b72e8;
  color: white;
  height: 35px;
  width: 35px;
  padding: 5px;
  margin-left: 15px;
  border-radius: 5px;
}

.main-content .content-header .offcanvas {
  width: 800px;
}

/************** CONTENT BODY ***************/



.content-body .table .icons {
  transform: translateX(-10px);
}

.content-body .table img{
  width: 30px;
  margin: 0 10px;
}