
body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

.debug{
  border: 1px solid black;
}

.dp-container{
  width: 100%;
  height: calc(100vh - 58px);
}

.sidebar{
  width: 150px;
  /* height: 100%; */
  background-color: #13293f;
}

.main-content{
  overflow: scroll;
}