
:root{
  --bg-white-fake: #f8f9fa;
  --bg-input : #e5e5e5;
  --bg-chip: #165bba;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

img{
  width: 100%;
}

.debug{
  border: 1px solid black;
}

.dp-container{
  width: 100%;
  height: calc(100vh - 70px);
}

.chip{
  background-color: var(--bg-chip);
  padding: 3px 8px;
  border-radius: 30px;
}


/*************** HEADER *******************/
header{
  height: 70px;
}

header .navbar{
  background-color: var(--bg-white-fake);
}

header .searchbar{
  position:relative;
}

header .searchbar i {
  height:15px;
  position:absolute;
  left:5px;
  top:10px;
}

header .navbar  input{
  background-color: var(--bg-input);
  width: 100%;
  padding-left: 25px;
}


header .navbar .right i{
  color: #5b5858;
}

header .navbar .right .fa-bell{
  color: #ff8f00;
}


/**************** SIDEBAR *****************/

.sidebar{
  width: 150px;
  height: 100%;
  background-color: #13293f;
  /* background: url(../img/sidebar-bg.png); */
}

/*********** MAIN CONTENT ******************/
.main-content{
  overflow: scroll;
}


/********** HEADER MAIN CONTENT **********/
.main-content .content-header{
  height: 120px;
  background-color: #1b72e8;
}

.main-content .content-header .online-users{
  font-size: 2rem;
}

.main-content .content-header .icon{
  border: 1px solid white;
  padding: 5px;
  margin-left: 15px;
  border-radius: 5px;
}

/************** CONTENT BODY ***************/

.content-body .table .icons {
  transform: translateX(-10px);
}

.content-body .table img{
  width: 30px;
  margin: 0 10px;
}